.infoCardHeadline {
  font-family: serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  padding: 24px;
}

.infoCardCallActionContainer :global(.vtex-button) {
  color: white;
  background-color: gray;
  border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
  color: gray;
  background-color: white;
  border: transparent;
}

.infoCardContainer--vintage {
  background-color: #edcfd1;
}

.infoCardContainer {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.logoContainer--logo-mobile {
  float: left;
  min-width: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.searchBarContainer {
  min-width: none;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.searchBarContainer :global(.vtex-input__suffix) {
  background-color: #212121;
}

@media (min-width: 900px) {
  .searchBarContainer {
    min-width: 35rem;
  }
}

.searchIcon,
.closeIcon {
  color: #fff;
}

.carouselGaleryThumbs {
  display: none;
}

.swiper-pagination {
  position: initial;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.swiperCaret {
  position: absolute;
  padding: 0.25rem 1.4rem 0rem;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
  top: 100%;
}

.swiperCaret:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.swiperCaretNext {
  float: right;
  margin-right: 0.5rem;
  transform: translate(0, -125%);
}

.swiperCaretPrev {
  float: left;
  margin-left: 0.5rem;
  transform: translate(0, -125%);
}

.caretIcon {
  width: 15px;
}

.price_sellingPriceLabel--price-text {
  display: none;
}

.price_listPriceContainer--price-text {
  margin: 0;
}

.price_listPrice--price-text .currencyContainer--price-text {
  color: #979899;
  font-size: unset;
  font-weight: 400;
}

/* .price_sellingPrice--price-text {
  padding-top: 0.5rem;
  margin-bottom: 2rem;
} */

.price_sellingPrice--price-text .currencyContainer--price-text {
  font-weight: 600;
  font-size: 1.3rem;
  color: rgb(20, 255, 0);
}
