.container--home {
  margin-bottom: 2rem;
}

.contentContainer--tab-home {
  position: relative;
  top: 50px;
}

.listContainer--list-home {
  width: 100%;
  height: 50px;
  background-color: #212121;
  position: fixed;
  z-index: 5;
}

.listItem--tab-item {
  margin: 0;
}

.listItem--tab-item :global(.vtex-button):hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.listItem--tab-item :global(.vtex-button__label) {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.listItemActive--tab-item {
  border-bottom: 2px solid #59ff00;
}

.listItemActive--tab-item :global(.vtex-button__label) {
  color: #59ff00;
}

.listItemActive--tab-item :global(.vtex-button) {
  background-color: transparent !important;
  border-color: transparent !important;
}

.listItemActive--tab-item :global(.vtex-button):focus,
.listItemActive--tab-item :global(.vtex-button):hover,
.listItemActive--tab-item :global(.vtex-button):active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #59ff00;
}
