.flexRowContent--header-layout {
  justify-content: space-between;
}

.flexRow--container-price {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* .flexRowContent--footer-row {
  justify-content: center;
  align-items: center;
} */

.flexRow--footer-row {
  width: 100%;
  position: fixed;
  height: 56px;
  z-index: 5;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #424242;
}

.flexCol--col-footer {
  flex: 1;
  padding: 6px 3rem;
  justify-content: center;
  align-items: center;
}
