.container--home {
  margin-bottom: 2rem;
}

.listContainer--list-home {
  width: 100%;
  height: 50px;
  background-color: #212121;
  position: fixed;
  z-index: 5;
  top: 60px;
}

.listItem--tab-item {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.listItem--tab-item :global(.vtex-button):hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.listItem--tab-item :global(.vtex-button__label) {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #fff;
  font-weight: 400;
  font-size: 0.6rem;
}

.listItemActive--tab-item {
  border-bottom: 2px solid #59ff00;
}

.listItemActive--tab-item :global(.vtex-button__label) {
  color: #59ff00;
}

.listItemActive--tab-item :global(.vtex-button) {
  background-color: transparent !important;
  border-color: transparent !important;
}

.listItemActive--tab-item :global(.vtex-button):focus,
.listItemActive--tab-item :global(.vtex-button):hover,
.listItemActive--tab-item :global(.vtex-button):active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #59ff00;
}

@media (min-width: 800px) {
  .listItem--tab-item :global(.vtex-button__label) {
    font-size: 1rem;
  }
}
